@include critical {
    .grid {
        $self: &;
        max-width: 96vw;
        width: 100%;

        @include desktop-only {
            width: breakpoint(desktop);
        }

        .row {
            @extend %flex;
            @extend %flex--row;
            @extend %flex--wrap;
            @extend %flex--justify-flex-start;
            @extend %flex--align-flex-start;

            width: 100%;
        }

        .col {
            @include mobile-only {
                width: 100%;
                flex-basis: 100%;
                flex-shrink: 1;
            }

            @include desktop-only {
                width: $col-width;
                flex-basis: $col-width;
            }

            @for $c from $grid-columns through 1 {
                @include mobile-only {
                    &--push-#{$c} {
                        @include margin-left($c);
                        width: 90%;
                        flex-basis: 90%;
                    }
                }

                @include desktop-only {
                    $curr-col-width: $c * $col-width;

                    &--push-#{$c} {
                        margin-left: $curr-col-width;
                    }

                    &--#{$c} {
                        flex-basis: $curr-col-width;
                        width: $curr-col-width;
                    }
                }
            }
        }
    }
}