@include critical {
    .grid {
        $self: &;
        width: 100%;

        @include desktop-only {
            width: breakpoint(desktop);
        }

        .row {
            @extend %flex,
            %flex--row,
            %flex--wrap,
            %flex--justify-flex-start,
            %flex--align-flex-start;

            width: 100%;
        }

        .col {
            @include mobile-only {
                width: auto;
                flex-grow: 1;
                flex-shrink: 1;
            }

            @include desktop-only {
                width: $col-width;
                flex-basis: $col-width;

                @for $c from $grid-columns through 1 {
                    $curr-col-width: $c * $col-width;

                    &--push-#{$c} {
                        margin-left: $curr-col-width;
                    }

                    &--#{$c} {
                        flex-basis: $curr-col-width;
                        width: $curr-col-width;
                    }
                }
            }


        }
    }
}