@include critical {
    .header {
        @extend %flex,
            %flex--justify-space-between,
            %flex--align-center;

        @include rem-dimensions(header);

        &__menues {
            @extend %flex,
                %flex--column,
                %flex--justify-flex-end,
                %flex--align-flex-end;
            @include rem-dimensions(menues);
        }

    }
}

@include non-critical {
    .header {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            bottom: -$border-width;
            right: 0;
            width: 0;
            height: $border-width;
            background-color: var(--color-text);
            z-index: -1;
            transition: width 1s ease-in-out;
            //animation: grow-width 1s ease-in-out 1.5s 1 forwards;
        }
    }
}