@include critical {
    header,
    main,
    footer {
        @include container();
    }

    .background {
        @include position-fixed($top: $menu-height, $right: 0, $bottom: 0, $z-index: -1);
        height: auto;
        width: 100vw;
        overflow: hidden;

        &__image {
            @include position-absolute($right: 0, $left: 0, $z-index: -10);
            height: auto;
            width: 100%;

            animation: unblur 5s ease-in-out 0s 1 forwards;
        }
        &:before, &:after {
            content: '';
            @include position-absolute($bottom: 0, $left: 0);
            width: 100%;
            height: 100%;
        }
        &:before {
            background: 
                linear-gradient(to bottom, var(--color-background), transparent 66%),
                linear-gradient(to right, var(--color-background), transparent);
            mix-blend-mode: multiply;
            z-index: -5;
        }
        &:after {
            background: radial-gradient(ellipse at bottom left, 
                    var(--color-background), 
                    var(--color-primary) 35%,
                    var(--color-pale-red)
                );
            mix-blend-mode: overlay;
            z-index: -1;
        }
    }
    @include mobile-only {
        header,
        main,
        footer {
            max-width: 100vw;
            overflow-x: hidden;
        }
        header {
            @include padding-x(.5);
        }
        main, footer {
            @include padding(1);
        }
    }
}

@include non-critical {
    footer {
        @include margin-top(3);
        @include padding-y(2);
    }

    body.sticky-header,
    body.showing-menu {
        .header {
            @include position-fixed($top: 0, $left: 50%, $z-index: $z-index-menu);
            @include margin(0);
            background-color: var(--color-background);
            transform: translateX(-50%);
            transition: background-color .5s;

            &:after {
                width: 100%;
            }

            @include mobile-only {
                left: 0;
                transform: none;
            }
        }
    }
    body.showing-menu,
    body.showing-details {
        overflow: hidden;
    }

    body.sticky-header {
        main {
            @include desktop-only {
                @include margin-top(5);
            }
            @include mobile-only {
                @include margin-top(2);
            }
            padding-top: $menu-height;
        }
    }
}