@include critical {
    .header__logo {
        @extend %flex,
            %flex--justify-space-between,
            %flex--align-center;
        @include rem-dimensions(header);

        a {
            line-height: 0;
        }
        &--logo {
            @include rem-dimensions(logo);
        }
        &--wordmark {
            @include rem-dimensions(wordmark);
        }

        $wordmark-width: 621px;
        $wordmark-height: 150px;
    
        @include desktop-only {
            &--logo {
                @include margin-right(.5);
            }
        }
        @include mobile-only {
            &--logo {
                margin-right: 5px;
            }
        }
    }
}