@include critical {
    @include desktop-only {
        .header__menu-button {
            display: none;
        }
    }
    @include mobile-only {
        .header__menu-button {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: $mobile-menu-height;
            
            .button {
                @include margin-bottom(0.5);
                border: none;
                background: transparent;
                color: var(--color-text);
                height: $mobile-button-size;
                width: $mobile-button-size;
                position: relative;
                line-height: 0;
                
                .line {

                    &, &:before, &:after {
                        position: absolute;
                        display: block;
                        height: $border-width * 2;
                        width: $mobile-button-size;
                        left: 0;

                        background-color: var(--color-text);    
                    }
                    &:before, &:after {
                        content: '';
                    }
                    & {
                        top: ($mobile-button-size / 2) - $border-width;
                    }
                    &:before {
                        top: -($mobile-button-size / 3);
                    }
                    &:after {
                        top: ($mobile-button-size / 3);
                    }
                }
            }
        }
    }
}

@include non-critical {
    @include mobile-only {
        .header__menu-button {
            .button {
                .line {
                    &, &:after, &:before {
                        transition: all .3s ease-in-out;
                    }
                }
                &:focus {
                    outline: none;
                }
                &.active {
                    .line {
                        width: $mobile-button-size * 1.1;
                        left: $mobile-button-size * -.25;

                        &:before, &:after {
                            width: $mobile-button-size * .6;
                            left: $mobile-button-size * .8;
                        }
                        &:before {
                            transform: rotate(-315deg) translateY($mobile-button-size * .2);
                        }
                        &:after {
                            transform: rotate(315deg) translateY($mobile-button-size * -.2);
                        }
                    }
                }
            }
        }
    }
}