footer
    .grid
        .row
            +col(8, 0, 6, 0)
                p !{site.footerText}
            +col(2, 2, 6, 0)
                nav.footer-menu
                    include menu/_main.pug
                    include menu/_top
