+nav-link('languages/' + otherLang, __('menu.language'), 'flag-2', 'top')(class='col--push-6')
if theme === 'dark'
    +nav-link('themes/light', __('menu.themes.light'), 'contrast', 'top')
else
    +nav-link('themes/dark', __('menu.themes.dark'), 'contrast-2', 'top')