@include non-critical {
    @keyframes grain {
        0%, 100% { background-position: 50% 50%; }
        10% { background-position: 55% 45%; }
        20% { background-position: 55% 50%; }
        30% { background-position: 57% 45%; }
        40% { background-position: 45% 55%; }
        50% { background-position: 45% 60%; }
        60% { background-position: 55% 50%; }
        70% { background-position: 50% 55%; }
        80% { background-position: 53% 55%; }
        90% { background-position: 40% 60%; }
    }
    @keyframes glideIn {
        0% {
            opacity: 0;
            visibility: hidden;
            transform: translateY(100%);
        }
        100% {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}