extends _layout.pug

block content
    .page-header
        .grid
            .row
                +col(8, 0, 10, 1)
                    h1.page-heading(class=`page-heading--${page.uid}`)= page.heading
                +col(4, 0, 10, 1)
                    .page-intro
                        != page.intro

    .page-body
        p Contact us at #[a(href='mailto:info@fivebyfive.se') info@fivebyfive.se].


