footer
    .grid
        .row
            +col(8, 0, 3, 1, 'footer__text')
                p !{site.footerText}
            +col(2, 2, 5, 2, 'footer_menues')
                nav.footer-menu
                    include menu/_top
