header.header
    .grid
        .row
            .header__logo.col.col--6.col--m--10
                a.header__logo--link(href='/')
                    include logo/_logo-svg.pug
                    include logo/_wordmark-svg.pug
            
            .header__menu-button.col--m--2
                button.button.button--menu
                    span.line

            .header__menues.col.col--6
                nav.header__menu.header__menu--top-menu.row
                    include menu/_top.pug

                nav.header__menu.header__menu--main-menu.row
                    include menu/_main.pug