-
    const currLang = page.lang || 'en-US';
    const otherLang = currLang === 'en-US' ? 'sv-SE' : 'en-US';

include mixins/_grid.pug
include mixins/_scripts.pug

doctype html
html(lang=lang, data-theme=theme)
    head
        include partials/_head.pug
        block head
    body
        article(class=`page--${page.uid}`)
            include partials/_header.pug

            main
                block content

            footer
                .grid
                    .row
                        +col(8, 0, 10, 2)
                            p !{site.footerText}

        link(rel='stylesheet', href='/css/non-critical.css')
        link(rel='stylesheet', href='//cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css')
        link(rel='stylesheet', href='//fonts.googleapis.com/css2?family=Spartan:wght@100;400;700;900&display=swap')

        +script('/js/five.js', 'beta')
        +script('/js/header.js')
        +script('/js/wordmark.js')
        +script('/js/lazyload.js')

        include partials/_background-animation.pug

        +renderScripts()
        
        block styles
        block scripts



    