extends _layout.pug

block content
    .page-header
        .grid
            .row
                +col(8, 0, 10, 1)
                    h1.page-heading(class=`page-heading--${page.uid}`)= page.heading
                +col(4, 0, 10, 1)
                    .page-intro
                        != page.intro

    .page-body
        case page.uid
            when 'start'
                include templates/_start.pug
            when 'work'
            when 'case'
                include templates/_case.pug
            default
                p Couldn't find a template for &quot;#{page.uid}&quot;. 
