extends _layout.pug

block content
    .page-header
        .grid
            .row
                +col(8, 0, 10, 1)
                    h1.page-heading(class=`page-heading--${page.uid}`)= page.heading
                +col(4, 0, 10, 1)
                    .page-intro
                        != page.intro

    .page-body
        case page.uid
            when 'start'
                include templates/_start.pug
            when 'work'
                include templates/_work.pug
            when 'services'
                include templates/_services.pug
            when 'contact'
                include templates/_contact.pug
            when 'us'
                include templates/_us.pug
            default
                include templates/_text.pug

