@include critical {
    .page-header {
        position: relative;
    }
 
    .page-heading {
        @extend %font-size-xxxl,
            %font-medium;
    }
    .page-intro {
        @include margin-y(2);
    }
}

@include non-critical {
    .page-headline {
        &--start { color: var(--color-pale-red); }
        &--work  { color: var(--color-pink); }
        &--services { color: var(--color-dark-red); }
        &--contact { color: var(--color-teal); }
    }
}