@include critical {
    .page-header {
        @include rem-dimensions(page-header);
        position: relative;
        &:before {
            @include position-absolute($top: 2rem, $left: 8 * $col-width, $right: 0, $z-index: -1);
            content: '';
            width: auto;
            height: 3rem;

            background-color: var(--color-pink);
        }
    }
    .page-heading {
        @include rem-dimensions(page-heading);
        word-wrap: break-word;
    }
    .page-intro  {
        @include rem-dimensions(page-intro);
        & > p {
            @include rem-dimensions(page-intro-paragraph);
        }
    }
}

@include non-critical {
    .page-heading {
        &--start {
            background: url(/images/bg/0.jpg);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }

        &--work {
            background: url(/images/bg/1.jpg);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }

        &--services {
            background: url(/images/bg/2.jpg);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }

        &--contact {
            background: url(/images/bg/3.jpg);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }
}