+nav-link('', __('menu.main-menu.home'), 'arrow-left', 'start')
+nav-link('page/work', __('menu.main-menu.work'), 'lightbulb', 'work')
+nav-link('page/services', __('menu.main-menu.services'), 'service', 'services')
+nav-link('page/us', __('menu.main-menu.us'), 'user-smile', 'us')
+nav-link('page/contact', __('menu.main-menu.contact'), 'chat-smile', 'highlight', 'contact')
