@include critical {
    .item-list,
    .details-view {
        &--subcollection {
            @include rem-dimensions(subcollection);
        }
        .item {
            &--collection {
                @include rem-dimensions(collection);
                @include line($color: var(--color-secondary), $height: 2rem, $distance: -4rem);

                .collection__header {
                    @extend %flex--align-flex-start,
                        %flex--justify-flex-start;
                    @include rem-dimensions(collection-header);
                }
                .collection__title {
                    @include rem-dimensions(collection-title);
                }
                .collection__description {
                    @include font(large, 400);
                    @include rem-dimensions(collection-description);
                    @include mobile-only {
                        @include font(default, 400);
                    }
                }

                .collection__tags {
                    @include font(default, 100);
                    @include rem-dimensions(collection-tags);
                }
            }


            &__meta {
                @include rem-dimensions(item-meta);
                @include font(small, 100);
                word-wrap: break-word;
                text-transform: lowercase;

                &.item__release-date {
                    @include rem-dimensions(item-meta-date);
                    font-weight: 400;
                }


                i {
                    @include rem-dimensions(item-meta-icon);
                    vertical-align: baseline;
                    font-size: .8em;
                }

                strong {
                    @include rem-dimensions(item-meta-title);
                    font-weight: 400;

                    &:after {
                        content: ':';
                    }
                }
            }

            &__subitem {
                @include rem-dimensions(subitem);
                @include line($left: $col-width, $right: $col-width * 3, $color: var(--color-tertiary), $height: 1rem, $distance: -2rem);

                .subitem__header {
                    @include rem-dimensions(subitem-header);
                }

                .subitem__number {
                    @include font(xxx-large, 900);
                    @include rem-dimensions(subitem-number);
                }

                .subitem__title {
                    @include rem-dimensions(subitem-title);
                }

                .subitem__description {
                    @include rem-dimensions(subitem-description);
                }
            }

            &--case {
                @include rem-dimensions(item);
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                position: relative;

            }

            &__text {
                @extend %flex,
                    %flex--column,
                    %flex--justify-flex-start,
                    %flex--align-flex-start;
                @include position-absolute($top: 0, $left: 0);
                @include padding-x(1);

                @include rem-dimensions(item-text);

                width: 100%;
                height: 100%;
                background-color: var(--color-background-overlay);
                @include mobile-only {
                    @include padding-left(3);
                }
            }
            &--case:nth-child(3n+1) .item__text {
                @include padding-left(2, $col-width);
            }

            &__section {
                width: 100%;
                text-shadow: 1px 1px var(--color-background-overlay);

                &--title {
                    @include rem-dimensions(item-title);
                }
            }
        }
    }
}

@include non-critical {
    .item-list {
        .item {
            &--case {
                overflow: hidden;

                &:nth-child(even) {
                    .item__text {
                        background-color: var(--color-background-secondary-overlay);
                    }
                }
                &:before, &:after {
                    @include position-absolute($left: 0, $top: 0, $z-index: $z-index-content);
                    box-sizing: border-box;
                    opacity: 0;
                    transition: all .3s ease-in-out;
                    color: var(--color-primary);
                }
                &:nth-child(3n+1) {
                    &:before {
                        @include padding-left(4);
                    }
                    &:after {
                        left: $col-width * 2;
                        padding-left: 0;
                    }
                }
                &:before {
                    @extend %flex,
                        %flex--justify-flex-start,
                        %flex--align-flex-start;
                    @include font(large);
                    @include rem-dimensions(item-overlay-bg);
                    content: "\ed9c";
                    height: 100%;
                    width: 100%;
                    // background-color: var(--color-pale-red-overlay);
                    font-family: 'remixicon' !important;
                }
                &:after {
                    @include font(large, 700);
                    @include rem-dimensions(item-overlay-fg);
                    content: attr(data-label);
                    transform: translateX(100%);
                }

                &:hover {
                    cursor: pointer;
                    &:before {
                        backdrop-filter: brightness(50%) blur(4px);
                    }
                    &:before, &:after {
                        opacity: 1;
                    }
                    &:after {
                        transform: translateX(size(2));
                    }

                }
            }
        }

    }
    [data-theme="light"] {
        .item-list .item--case:hover:before {
            backdrop-filter: brightness(120%)  blur(4px);
        }
    }
}