@include critical {
    .button {
        @extend %button;

        > i {
            font-size: .85em;
            vertical-align: text-top;
            margin-right: .3em;
        }

        &--activate {
            @extend %flex,
                %flex--justify-flex-start,
                %font-medium,
                %font-size-m;
            @include padding-y(2);
            width: 100%;
            background-color: var(--color-background);
            color: var(--color-text);
            border: 2px solid (--color-text);

            &.active {
                > i {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

@include non-critical {
    .button {
        transition: all .25s;

        &:hover {
            transform: translateY(-1px);
            & > i {
                transform: scale(1.1);
            }
        }
        &--activate:hover {
            border-color: var(--color-primary);
        }
    }
}
