@include critical {

    .item-list, .details-view {
        .item {
            h2 {
                @include font(xx-large, 900);
            }
            h3 {
                @include font(large, 500);
            }
            h4 {
                @include font(default, 500);
            }

            &--collection {
                @include margin-y(6);
                @include padding-y(4);

                border-top: $border-width solid var(--color-text);

                .collection-description {
                    @include font(x-large, 300);
                }
                .collection-tags {
                    @include font(default, 200);
                }
            }


            &__meta {
                @include font(small, 300);
                color: var(--color-text-secondary);
                word-wrap: break-word;

                i, strong {
                    margin-right: .3em;
                }
                i {
                    font-size: .8em;
                    vertical-align: text-top;
                }
                strong {
                    @include font($font-weight: 500);
                    &:after { content: ':'; }
                }
            }
    
            &__subitem {
                @include margin-y(4);
                .subitem__description {
                    @include font(x-large, 700);
                    @include margin-bottom(3);
                }
            }
            &--case {
                height: 500px;
                max-height: 33vh;
                position: relative;

                @include mobile-only {
                    &.col.col--4 {
                        flex-basis: 90%;
                        width: 90%;
                        margin-left: 10%;
                    }
                }
            }
            &__text {
                @extend %flex,
                    %flex--column,
                    %flex--justify-space-between,
                    %flex--align-flex-start;
                @include position-absolute($top: 0, $left: 0);
                @include padding(2);

                width: 100%;
                height: 100%;
                background-color: var(--color-background-overlay);

                .button--reveal {
                    @extend %flex,
                        %flex--column;
                    @include font(x-large, 500);
                    @include position-absolute($top: 0, $left: 0);
                    width: 100%;
                    height: 100%;
                    color: var(--color-primary);
                    background-color: transparent;

                    > i, > span {
                        display: block;
                    }
                    > i {
                        transform: scale(3);
                    }
                    > span {
                        height: 0;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}

@include non-critical {
    .item-list, .details-view {
        .item {
            &__text {
                .button--reveal {
                    > i {
                        @include margin-bottom(0);
                    }
                    > span {
                        transition: height .3s;
                        white-space: pre;
                    }
                    &:hover {
                        color: var(--color-secondary);
                        border-color: var(--color-secondary);
                        background-color: var(--color-background-secondary-overlay);

                        > i {
                            @include margin-bottom(3);
                        }
                        > span {
                            height: 3em;
                        }
                    }    
                }
            }
        }
    }
}