@include critical {

    .item-list, .details-view {
        .item {
            h2 {
                @extend %font-size-xxl,
                %font-black;            
            }
            h3 {
                @extend %font-size-l;
            }
            h4 {
                @extend %font-size-m;
            }

            &--collection {
                @include margin-y(6);
                @include padding-y(4);

                border-top: $border-width solid var(--color-text);

                .collection-description {
                    @extend %font-size-xl,
                        %font-light;
                }
                .collection-tags {
                    @extend %font-size-m,
                        %font-extra-light;
                }
            }


            &__meta {
                @extend %font-size-s,
                    %font-light;
                color: var(--color-text-secondary);

                i, strong {
                    margin-right: .3em;
                }
                i {
                    font-size: .8em;
                    vertical-align: text-top;
                }
                strong {
                    @extend %font-medium;
                    &:after { content: ':'; }
                }
            }
    
            &__subitem {
                @include margin-y(4);
                .subitem__description {
                    @extend %font-size-xl,
                        %font-bold;
                    
                }
            }
            &--case {
                height: 500px;
                max-height: 33vh;
                position: relative;
            }
            &__text {
                @extend %flex,
                    %flex--column,
                    %flex--justify-space-between,
                    %flex--align-flex-start;
                @include position-absolute($top: 0, $left: 0);
                @include padding(2);

                width: 100%;
                height: 100%;
                background-color: var(--color-background-overlay);

                .button--reveal {
                    @extend %flex,
                        %flex--column,
                        %font-medium,
                        %font-size-xl;
                    @include position-absolute($top: 0, $left: 0);
                    width: 100%;
                    height: 100%;
                    color: var(--color-primary);
                    background-color: transparent;

                    > i, > span {
                        display: block;
                    }
                    > i {
                        transform: scale(3);
                    }
                    > span {
                        height: 0;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}

@include non-critical {
    .item-list, .details-view {
        .item {
            &__text {
                .button--reveal {
                    > i {
                        @include margin-bottom(0);
                    }
                    > span {
                        transition: height .3s;
                        white-space: pre;
                    }
                    &:hover {
                        color: var(--color-secondary);
                        border-color: var(--color-secondary);
                        background-color: var(--color-background-secondary-overlay);

                        > i {
                            @include margin-bottom(3);
                        }
                        > span {
                            height: 3em;
                        }
                    }    
                }
            }
        }
    }
}