@include critical {
    .item-list,
    .details-view {
        .item {
            &--collection {
                @include desktop-only {
                    @include margin-y(6);
                    @include padding-y(4);    
                }
                @include mobile-only {
                    @include margin-y(2);
                    @include padding-y(1);
                }

                border-top: $border-width solid var(--color-text);

                .collection__header {
                    align-items: flex-end;
                }
                .collection__description {
                    @include font(large, 400);
                    @include mobile-only {
                        @include font(default, 400);
                    }
                }

                .collection__tags {
                    @include font(default, 100);
                }
            }


            &__meta {
                @include font(small, 100);
                color: var(--color-text-secondary);
                word-wrap: break-word;

                i,
                strong {
                    margin-right: .2em;
                }

                i {
                    vertical-align: middle;
                    font-size: .8em;
                }

                strong {
                    font-weight: 400;

                    &:after {
                        content: ':';
                    }
                }
            }

            &__subitem {
                @include margin-y(2);

                .subitem__number {
                    @include desktop-only {
                        @include font(xxx-large, 900);
                    }
                    @include mobile-only {
                        @include font(xxx-large-mobile, 900);
                    }
                }

                .subitem__description {
                    @include margin-bottom(2);
                }
            }

            &--case {
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                height: grid-size(300px);
                position: relative;

                @include mobile-only {
                    height: grid-size-m(300px);
                }
            }

            &__text {
                @extend %flex,
                %flex--column,
                %flex--justify-space-between,
                %flex--align-flex-start;
                @include position-absolute($top: 0, $left: 0);
                @include padding(.5);

                width: 100%;
                height: 100%;
                background-color: var(--color-background-overlay);
            }

            &__section {
                width: 100%;

                &--top {
                    @extend %flex,
                    %flex--justify-space-between;
                }
            }
        }
    }
}

@include non-critical {
    .item-list {
        .item {
            &--case {
                &:nth-child(even) {
                    .item__text {
                        background-color: var(--color-background-secondary-overlay);
                    }
                }
                &:before, &:after {
                    @include position-absolute($left: 0, $top: 0, $z-index: $z-index-content);
                    @include padding-left(.5);
                    @include padding-top(3);
                    box-sizing: border-box;
                    opacity: 0;
                    transition: all .3s ease-in-out;
                    color: var(--color-primary);
                }
                &:before {
                    @extend %flex,
                        %flex--justify-flex-start,
                        %flex--align-flex-start;
                    @include font(x-large);
                    content: "\ed9c";
                    height: 100%;
                    width: 100%;
                    // background-color: var(--color-pale-red-overlay);
                    font-family: 'remixicon' !important;
                }
                &:after {
                    @include font(x-large, 700);
                    content: attr(data-label);
                    transform: translateX(100%);
                }

                &:hover {
                    cursor: pointer;
                    &:before {
                        backdrop-filter: brightness(50%) blur(4px);
                    }
                    &:before, &:after {
                        opacity: 1;
                    }
                    &:after {
                        transform: translateX(size(2));
                    }

                }
            }
        }

    }
    [data-theme="light"] {
        .item-list .item--case:hover:before {
            backdrop-filter: brightness(120%)  blur(4px);
        }
    }
}