@include non-critical {
    @keyframes grow-width {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }
    @keyframes unblur {
        0% {
            filter: blur($base-size) brightness(0.5);
        }
    
        100% {
            filter: blur(0) brightness(1);
        }
    }
    @keyframes shine {
        from {
            transform: skewX(10deg);
            opacity: 0;
            left: -20%;
        }
    
        5% {
            opacity: .3;

        }
    
        10% {
            transform: skewX(-15deg);
            opacity: 0;
            left: 120%;
        }
        to { }
    } 
    @keyframes grow {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(2);
        }
    }
    @keyframes graphic {
        from {
            transform: scale(1) rotate(-25deg);
        }
        50% {
            transform: scale(1.6) rotate(-45deg);
        }
        55% {
            transform: scale(1.5) rotate(-50deg);
        }

        to {
            transform: scale(1.4) rotate(-30deg);
        }
    }
    @keyframes pulse {
        0% { transform: scale(1); }
        30% { transform: scale(1); }
        40% { transform: scale(1.08); }
        50% { transform: scale(1); }
        60% { transform: scale(1); }
        70% { transform: scale(1.05); }
        80% { transform: scale(1); }
        100% { transform: scale(1); }
    }
}
