@include non-critical {
    @keyframes grow-width {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }
    @keyframes unblur {
        0% {
            filter: blur($base-size) brightness(0.5);
        }
    
        100% {
            filter: blur(0) brightness(1);
        }
    }
    @keyframes shine {
        from {
            transform: skewX(10deg);
            opacity: 0;
            left: -20%;
        }
    
        5% {
            opacity: .3;
        }
    
        10% {
            transform: skewX(-15deg);
            opacity: 0;
            left: 120%;
        }
        to { }
    }    
}
