$breakpoints: (
    desktop: 1440px,
    mobile: 900px
);
$font-sizes: (
    default: 1rem,
    small: .8rem,
    x-small: .6rem,
    xx-small: .5rem,

    large: 1.5rem,
    x-large: 2rem,
    xx-large: 3rem,
    xxx-large: 7rem,
    xxx-large-mobile: 4.5rem
);

$line-heights: (
    default: 1,
    small: 1,
    x-small: 1,
    xx-small: 1,

    large: 2,
    x-large: 2,
    xx-large: 2,
    xxx-large: 5,
    xxx-large-mobile: 3
);

$font-spacings: (
    default: .01em,
    small: .02em,
    x-small: .04,
    xx-small: .06em,

    large: -.04em,
    x-large: -.06em,
    xx-large: -.08em,
    xxx-large: -.1em
);

/* Color Theme Swatches in Hex */
$color-black: #060B0D;
$color-blackish: #0D171A;
$color-greyish: #676966;
$color-light-greyish: #A6A8A5;
$color-lighter-greyish: #D6D9D4;
$color-whiteish: #E6E9E4;
$color-white: #F2F5F0;

$color-pink: #CA3368;
$color-teal: #0099A6;
$color-pale-red: #F26B5B;

$color-dark-pink: #4A1226;
$color-dark-teal: #005E66;
$color-dark-red: #73332C;

$font-body: 'Spartan', 'Futura', sans-serif;
$font-heading: $font-body;

$border-width: 2px;
$border-radius: 2px;

$base-font-size: 20px;
$base-line-height: 28px;

$base-font-size-mobile: 16px;
$base-line-height-mobile: 24px;

$base-size: 14px;
$base-size-mobile: 12px;

$grid-columns: 12;
$gutter-width: $base-line-height;
$col-width: percentage(1/$grid-columns);

$mobile-grid-columns: $grid-columns;
$mobile-gutter-width: $base-line-height-mobile;
$mobile-col-width: percentage(1/$mobile-grid-columns);

$menu-height: 112px;
$mobile-menu-height: 72px;
$mobile-menu-inner-height: 60px;
$mobile-button-size: 36px;

$z-index-content: 500;
$z-index-menu: 1000;
$z-index-top: 2000;
