$breakpoints: (
    desktop: 1440px,
    mobile: 900px
);
/* Color Theme Swatches in Hex */
$color-black: #060B0D;
$color-blackish: #0D171A;
$color-greyish: #676966;
$color-light-greyish: #A6A8A5;
$color-lighter-greyish: #D6D9D4;
$color-whiteish: #E6E9E4;
$color-white: #F2F5F0;

$color-pink: #CA3368;
$color-teal: #0099A6;
$color-pale-red: #F26B5B;

$color-dark-pink: #4A1226;
$color-dark-teal: #005E66;
$color-dark-red: #73332C;

$font-body: 'Spartan', 'Futura', sans-serif;
$font-heading: $font-body;
$base-size: 10px;
$base-font-size: 20px;
$border-radius: 2px;

$base-font-size-mobile: 16px;

$grid-columns: 12;
$gutter-width: 15px;
$col-width: percentage(1/$grid-columns);

$mobile-grid-columns: $grid-columns;
$mobile-gutter-width: 10px;
$mobile-col-width: percentage(1/$mobile-grid-columns);

$menu-height: 150px;
$mobile-menu-height: 75px;
