@include critical {
    body {
        margin: 0;
        padding: 0;

        background-color: var(--color-background-secondary);
        color: var(--color-text);
        min-height: 100vh;
    }
    article, footer {
        width: 100%;
        @include padding(.5, 1);
    }

    .fade-in {
        opacity: 0;
        transform: translateY(15vh);
        visibility: hidden;
        transition: opacity .6s ease-out, transform .3s ease-out;
    }
}

@include non-critical {
    .down-button {
        @extend %flex, %flex--column;
        @include position-fixed($bottom: size(1), $left: get-setting(grid, max-width) / 2, $z-index: 15);
        color: var(--color-primary);
        transition: opacity .8s ease-in-out, 
            transform .6s ease-out;
        opacity: .2;
        &:hover {
            opacity: 1;
            color: var(--color-primary);
        }
        i {
            @extend %font--large;
        }
        &--hidden {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-100%);
        }
    }

    .fade-in--visible {
        opacity: 1;
        transform: none;
        visibility: visible;
    }
}
